{% extends 'core1/base.html' %}
{% block content %} 
 <div class="container mt-3">
    <h1 class="text-warning border-bottom mb-5">SKILLS</h1>
    <div class="row text-white">
        <div class="col-sm-5">
            <h2 class="mt-3 text-center">PYTHON</h2>
            <div class="progress">
                <div class="progress-bar bg-skyblue" role="progressbar" style="width: 100%" 
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-1">
            <h2 class="mt-3 text-center">HTML/CSS</h2>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-skyblue" role="progressbar" style="width: 90%" 
                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
        </div>
        
    </div>
    <div class="row text-white mt-2">
        <div class="col-sm-5">
            <h2 class="mt-3 text-center">JAVA</h2>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-skyblue" role="progressbar" style="width: 80%" 
                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-1">
            <h2 class="mt-3 text-center">BOOTSTRAP</h2>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-skyblue" role="progressbar" style="width: 75%" 
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
        </div>
        
    </div>
    <div class="row text-white mt-2">
        <div class="col-sm-5">
            <h2 class="mt-3 text-center">C PROGRAMMING</h2>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-skyblue" role="progressbar" style="width: 70%" 
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-1">
            <h2 class="mt-3 text-center">SQL</h2>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-skyblue" role="progressbar" style="width: 70%" 
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
        </div>
        
    </div>
    <div class="row text-white mt-2">
        <div class="col-sm-5">
            <h2 class="mt-3 text-center">FLUTTER</h2>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-skyblue" role="progressbar" style="width: 50%" 
                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-1">
            <h2 class="mt-3 text-center">DART</h2>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-skyblue" role="progressbar" style="width: 35%" 
                aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
            </div>
        </div>
        
    </div>
 </div>
{% endblock content %}